* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/* @font-face {
    font-family: 'invaders';
    src: url('../font/the_invaders/the_invaders.ttf') format('truetype');
} */

.title {
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
}

#new-game {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0%;
}

/* etoile1 */
#etoile1 {
    width: 2px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: -75%;
    left: 10%;
}

.slide-in-top-etoile1 {
	animation: slide-in-top-etoile1 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top-etoile1 {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(300%);
        opacity: 1;
    }
}

/* etoile 2 */
#etoile2 {
    width: 2px;
    height: 300px;
    background-color: white;
    position: absolute;
    top: -45%;
    left: 25%;
}

.slide-in-top-etoile2 {
	animation: slide-in-top-etoile2 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top-etoile2 {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(400%);
        opacity: 1;
    }
}

/* etoile 3 */
#etoile3 {
    width: 2px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: -30%;
    left: 45%;
}

.slide-in-top-etoile3 {
	animation: slide-in-top-etoile3 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top-etoile3 {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(600%);
        opacity: 1;
    }
}

/* etoile 4 */
#etoile4 {
    width: 2px;
    height: 300px;
    background-color: white;
    position: absolute;
    top: -45%;
    left: 60%;
}

.slide-in-top-etoile4 {
	animation: slide-in-top-etoile4 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top-etoile4 {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(400%);
        opacity: 1;
    }
}

/* etoile 5 */
#etoile5 {
    width: 2px;
    height: 450px;
    background-color: white;
    position: absolute;
    top: -70%;
    left: 80%;
}

.slide-in-top-etoile5 {
	animation: slide-in-top-etoile5 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top-etoile5 {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(300%);
        opacity: 1;
    }
}

/* select difficulté */
.custom-dropdown--large {
    font-size: 1.5em;
}

.custom-dropdown--small {
    font-size: .7em;
}

.custom-dropdown__select{
    font-size: inherit; /* inherit size from .custom-dropdown */
    padding: .5em; /* add some space*/
    margin: 0; /* remove default margins */
}

.custom-dropdown__select--white {
    background-color: #20b390;
    color: #fff;    
}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .custom-dropdown {
        position: absolute;
        top: 65%;
        left: 34%;
        display: inline-block;
        vertical-align: middle;
    }

    .custom-dropdown__select {
        padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
        border: 0;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;    
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%; margin-top: -.5em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0,0,0,.3);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,.1);
    }

    /* White dropdown style */
    .custom-dropdown--white::before {
        top: .5em; bottom: .5em;
        background-color: #20b390;
        color: #fff; 
        border-left: 1px solid rgba(0,0,0,.1);
    }

    .custom-dropdown--white::after {
        color: rgba(0,0,0,.9);
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select              { padding-right: .9em }
        .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
        .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
    }
}