* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

img {
    width: 90%;
    margin-left: 5%;
}

/* etoile */
#etoile-1 {
    width: 2px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: -75%;
    left: 5%;
}

.slide-in-top {
	animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(300%);
        opacity: 1;
    }
}

.autreEtoile {
    width: 0.5px;
    height: 0.5px;
    background-color: white;
    margin-left: 5%;
}