<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/jeu.css">
    <title>Space Invaders</title>
</head>
<body>
    <div class="game">
        <img class="monstre1" id="monstre1" src="../img/invader-vert.png" alt="">
        <img class="monstre2" id="monstre2" src="../img/invader-vert.png" alt="">
        <img class="monstre3" id="monstre3" src="../img/invader-vert.png" alt="">
        <img class="monstre4" id="monstre4" src="../img/invader-vert.png" alt="">
        <img class="monstre5" id="monstre5" src="../img/invader-vert.png" alt="">
        <img class="monstre6" id="monstre6" src="../img/invader-vert.png" alt="">

        <img class="monstre7" id="monstre7" src="../img/invader-vert.png" alt="">
        <img class="monstre8" id="monstre8" src="../img/invader-vert.png" alt="">
        <img class="monstre9" id="monstre9" src="../img/invader-vert.png" alt="">
        <img class="monstre10" id="monstre10" src="../img/invader-vert.png" alt="">
        <img class="monstre11" id="monstre11" src="../img/invader-vert.png" alt="">
        <img class="monstre12" id="monstre12" src="../img/invader-vert.png" alt="">

        <img class="monstre13" id="monstre13" src="../img/invader-vert.png" alt="">
        <img class="monstre14" id="monstre14" src="../img/invader-vert.png" alt="">
        <img class="monstre15" id="monstre15" src="../img/invader-vert.png" alt="">
        <img class="monstre16" id="monstre16" src="../img/invader-vert.png" alt="">
        <img class="monstre17" id="monstre17" src="../img/invader-vert.png" alt="">
        <img class="monstre18" id="monstre18" src="../img/invader-vert.png" alt="">

        <img id="vaisseau" src="../img/vaisseau.png" alt="" srcset="">
        <!-- <img class="none" id="missile" src="../img/missile.png" alt="" srcset=""> -->
        <img id="right-arrow" src="../img/right-arrow.png" alt="">
        <img id="left-arrow" src="../img/left-arrow.png" alt="">
        <img id="fire" src="../img/fire.png" alt="">
        <div class="none" id="lose">
            <img class="lose" src="../img/lose.jpg" alt="">
            <p id="restart" class="restart">RESTART</p>
            <a class="menu" href="../index.html">MENU</a>
        </div>
    </div>
    <script src="../js/jeu.js"></script>
</body>
</html>