<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/jeu.css">
    <title>Space Invaders</title>
</head>
<body>
    <div class="game">
        <img class="monstre1" src="../img/invader-vert.png" alt="">
        <img class="monstre2" src="../img/invader-vert.png" alt="">
        <img class="monstre3" src="../img/invader-vert.png" alt="">
        <img class="monstre4" src="../img/invader-vert.png" alt="">
        <img class="monstre5" src="../img/invader-vert.png" alt="">
        <img class="monstre6" src="../img/invader-vert.png" alt="">

        <img class="monstre7" src="../img/invader-vert.png" alt="">
        <img class="monstre8" src="../img/invader-vert.png" alt="">
        <img class="monstre9" src="../img/invader-vert.png" alt="">
        <img class="monstre10" src="../img/invader-vert.png" alt="">
        <img class="monstre11" src="../img/invader-vert.png" alt="">
        <img class="monstre12" src="../img/invader-vert.png" alt="">

        <img class="monstre13" src="../img/invader-vert.png" alt="">
        <img class="monstre14" src="../img/invader-vert.png" alt="">
        <img class="monstre15" src="../img/invader-vert.png" alt="">
        <img class="monstre16" src="../img/invader-vert.png" alt="">
        <img class="monstre17" src="../img/invader-vert.png" alt="">
        <img class="monstre18" src="../img/invader-vert.png" alt="">

        <img id="vaisseau" src="../img/vaisseau.png" alt="" srcset="">
    </div>
    <script src="../js/jeu.js"></script>
</body>
</html>